@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Definición de variables para fuentes */
:root {
  --font-family-base: 'Roboto', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --primary-color: #0055a5;
  --secondary-color: #ff5c5c;
}

/* Título principal */
.title {
  font-family: var(--font-family-base);
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Subtítulo */
.subtitle {
  font-family: var(--font-family-base);
  font-size: 24px;
  font-weight: var(--font-weight-regular);
  color: var(--primary-color);
  margin-bottom: 10px;
}

/* Texto normal */
.text {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: #333333;
  line-height: 1.5;
}

a:hover {
  cursor: pointer;
}

/* definicion para los logos */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

/* Contenedor de formularios */
.form-container {
  width: 100%;
  max-width: 400px; /* Restaurar a un tamaño adecuado */
  margin: 50px auto; /* Mantener el centrado */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Estilo para el título */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

/* Grupos de campos en los formularios */
.form-group {
  margin-bottom: 15px;
}

/* Etiquetas para cada campo */
label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

/* Controles del formulario (entradas de texto, select, etc.) */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botón primario */
.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
